## Create Database

In [ ]:
CREATE DATABASE campusx 
CREATE DATABASE IF NOT EXISTS campusx

## Drop Databse

In [ ]:
- DROP DATABASE campusx
- DROP DATABASE IF EXISTS campusx

## Create Table

In [ ]:
CREATE TABLE users(
    user_id INTEGER, 
    name VARCHAR(255), 
    email VARCHAR(255), 
    password VARCHAR(255)
)

## Truncate Table

In [ ]:
TRUNCATE TABLE users

## Drop Table

In [ ]:
DROP TABLE IF EXISTS users

## Data Integrity (Constraints)
- NOT NULL
- UNIQUE
- PRIMARY KEY
- AUTO INCREMENT
- CHECK
- DEFAULT
- FOREIGN KEY (RESTRICT, CASCADE, SET NULL, SET DEFAULT)

In [ ]:
CREATE TABLE users(
    user_id INTEGER NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    email VARCHAR(255) NOT NULl UNIQUE, 
    password VARCHAR(255) NOT NULl
)


-----------


CREATE TABLE users(
    user_id INTEGER NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    password VARCHAR(255) NOT NULL, 

    CONSTRAINT user_name_email_unique UNIQUE (name, email)
    CONSTRAINT users.pk PRIMARY KEY (user_id)
)

In [ ]:
--- CHECK Constraint
CREATE TABLE students(
    student_id INTEGER PRIMARY KEY AUTO_INCREMENT, 
    name VARCHAR(255) NOT NULL, 
    age INTEGER, 

    CONSTRAINT student_age_check CHECK (age > 6 AND age < 25)
)

In [ ]:
--- FOREIGN KEY
CREATE TABLE customers(
    cid INTEGER PRIMARY KEY AUTO_INCREMENT, 
    name VARCHAR(255) NOT NULL, 
    email VARCHAR(255) NOT NULL UNIQUE
)


CREATE TABLE orders(
    order_id INTEGER PRIMARY KEY AUTO_INCREMENT, 
    cid INTEGER NOT NULL, 
    order_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP, 

    CONSTRAINT orders_fk 
        FOREIGN KEY (cid) 
        REFERENCES customers(cid)
        ON DELETE CASCADE
        ON UPDATE CASCADE
)

## Alter Table (Add Column)

In [ ]:
ALTER TABLE customers ADD COLUMN surname VARCHAR(255) NOT NULL AFTER name

---

ALTER TABLE customers ADD COLUMN surname VARCHAR(255) NOT NULL BEFORE name

---

ALTER TABLE customers
ADD COLUMN pan_number VARCHAR(255) AFTER name,
ADD COLUMN joining_date DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP

## Alter Table (Delete Column)

In [ ]:
ALTER TABLE customers 
DROP COLUMN pan_number, 
DROP COLUMN joining_date

## Alter Table (Modify Column)

In [ ]:
ALTER TABLE customers
MODIFY COLUMN surname INTEGER

## Alter Table (Add & Drop Constraint)

In [ ]:
ALTER TABLE customers ADD CONSTRAINT customer_age_check CHECK (age > 6)

---

ALTER TABLE customers DROP CONSTRAINT customer_age_check