## CREATE

In [ ]:
--- Insert single data
INSERT INTO campusx.users (user_id, name, email, password)
VALUES (NULL, 'nitish', 'nitish@gmail.com', '123')

--- Insert multiple data
INSERT INTO campusx.users 
VALUES 
(NULL, 'a', 'a@gmail.com', '123'),
(NULL, 'b', 'b@gmail.com', '123'),
(NULL, 'c', 'c@gmail.com', '123')

## RETREIVE

### Select operation on columns

In [ ]:
--- Select all the rows and columns
SELECT * FROM campusx.smartphones WHERE 1

--- Select specific columns
SELECT model, price, rating FROM campusx.smartphones 

--- Display custom column name
SELECT model AS 'Company name', price, rating AS 'Rating from customers' FROM campusx.smartphones 

--- Run mathematical expressions
SELECT model, 
SQRT(resolution_width*resolution_width + resolution_height*resolution_height)/screen_size AS 'ppi'
FROM campusx.smartphones

--- Add a constant column
SELECT model, 'smartphone' AS 'type' FROM campusx.smartphones 

--- Fetch all unique values
SELECT DISTINCT(brand_name) FROM campusx.smartphones 

--- Fetch all unique combos
SELECT DISTINCT brand_name,model FROM campusx.smartphones

### Select operation on rows

In [ ]:
--- Select only samsung brand
SELECT * FROM campusx.smartphones WHERE brand_name = 'samsung'

--- IN / NOT IN 
SELECT * FROM campusx.smartphones WHERE processor_brand IN ('snapdragon', 'exynos', 'bionic')

### Execution order of all the queries in MySQL
> FROM -> JOIN -> WHERE -> GROUP BY -> HAVING -> SELECT -> DISTINCT -> ORDER BY

## UPDATE

In [ ]:
UPDATE campusx.smartphones
SET processor_brand = 'dimensity'
WHERE processor_brand = 'mediatek'

## DELETE

In [ ]:
DELETE FROM campusx.smartphones
WHERE brand_name = 'samsung' AND primary_camera_rear > 150