In [ ]:
SELECT brand_name, COUNT(*) AS 'count' 
FROM campusx.smartphones 
GROUP BY brand_name 
ORDER BY count DESC

In [ ]:
SELECT
brand_name, 
processor_brand, 
COUNT(*) as 'count',
AVG(price)
FROM campusx.smartphones 
GROUP BY brand_name, processor_brand
ORDER BY brand_name ASC