## CROSS JOIN

In [ ]:
SELECT * FROM demo1_campusx.users1 t1
CROSS JOIN demo1_campusx.groups t2

## INNER JOIN

In [ ]:
SELECT * FROM demo1_campusx.membership t1
INNER JOIN demo1_campusx.users1 t2
ON t1.user_id = t2.user_id

## LEFT JOIN

In [ ]:
SELECT * FROM demo1_campusx.membership t1
LEFT JOIN demo1_campusx.users1 t2
ON t1.user_id = t2.user_id

## RIGHT JOIN

In [ ]:
SELECT * FROM demo1_campusx.membership t1
RIGHT JOIN demo1_campusx.users1 t2
ON t1.user_id = t2.user_id

## FULL OUTER JOIN

In [ ]:
SELECT * FROM demo1_campusx.membership t1
LEFT JOIN demo1_campusx.users1 t2
ON t1.user_id = t2.user_id
UNION
SELECT * FROM demo1_campusx.membership t1
RIGHT JOIN demo1_campusx.users1 t2
ON t1.user_id = t2.user_id

## SELF JOIN

In [ ]:
SELECT t1.name, t2.name AS 'emergency' FROM demo1_campusx.users1 t1
JOIN demo1_campusx.users1 t2
ON t1.emergency_contact = t2.user_id

## ADVANCE JOIN

In [ ]:
--- Joining on more than one cols
SELECT * FROM demo1_campusx.students t1
JOIN demo1_campusx.class t2
ON t1.class_id = t2.class_id AND t1.enrollment_year = t2.class_year

--- Joining more than 2 tables
SELECT t1.category_id, t4.name FROM flipkart_campusx.category t1
JOIN flipkart_campusx.order_details t2
ON t1.category_id = t2.category_id
JOIN flipkart_campusx.orders t3
ON t2.order_id = t3.order_id
JOIN flipkart_campusx.users t4
ON t3.user_id = t4.user_id

## SET Operations

In [ ]:
--- UNION
SELECT * FROM demo1_campusx.person1
UNION
SELECT * FROM demo1_campusx.person2

--- UNION ALL
SELECT * FROM demo1_campusx.person1
UNION ALL
SELECT * FROM demo1_campusx.person2

-INTERSECT
SELECT * FROM demo1_campusx.person1
INTERSECT
SELECT * FROM demo1_campusx.person2