In [ ]:
SELECT * FROM campusx.movies
WHERE score = (SELECT MAX(score) FROM campusx.movies)

## Types of Subquery on the basis of returned data
- Scalar subquery
- Row subquery
- Table subquery

## Types of Subquery on the basis of working
- Independent subquery
- Correlated subquery

In [ ]:
--- Independent subquery
SELECT * FROM movies
WHERE score = (
    SELECT MAX(score) FROM movies
    WHERE votes > (
        SELECT AVG(votes) FROM movies
    )
)

--- Correlated subquery
WITH fav_food AS (
    SELECT t2.user_id, name, f_name, COUNT(*) AS 'frequency' FROM users t1
    JOIN orders t2 ON t1.user_id = t2.user_id
    JOIN order_details t3 ON t2.order_id = t3.order_id
    JOIN food t4 ON t3.f_id = t4.f_id
    GROUP BY t2.user_id, t3.f_id
)

SELECT * FROM fav_food f1
WHERE frequency = (
    SELECT MAX(frequency) FROM fav_food f2
    WHERE f2.user_id = f1.user_id
)