In [ ]:
SELECT * FROM campusx.movies
WHERE score = (SELECT MAX(score) FROM campusx.movies)

## Types of Subquery on the basis of returned data
- Scalar subquery
- Row subquery
- Table subquery

## Types of Subquery on the basis of working
- Independent subquery
- Correlated subquery

In [ ]:
--- Independent subquery
SELECT * FROM movies
WHERE score = (
    SELECT MAX(score) FROM movies
    WHERE votes > (
        SELECT AVG(votes) FROM movies
    )
)

--- Correlated subquery
WITH fav_food AS (
    SELECT t2.user_id, name, f_name, COUNT(*) AS 'frequency' FROM users t1
    JOIN orders t2 ON t1.user_id = t2.user_id
    JOIN order_details t3 ON t2.order_id = t3.order_id
    JOIN food t4 ON t3.f_id = t4.f_id
    GROUP BY t2.user_id, t3.f_id
)

SELECT * FROM fav_food f1
WHERE frequency = (
    SELECT MAX(frequency) FROM fav_food f2
    WHERE f2.user_id = f1.user_id
)

## Usage of subquery

In [ ]:
--- Subquery with SELECT
SELECT name, genre, score, 
(SELECT AVG(score) FROM movies m2 WHERE m2.genre = m1.genre)
FROM movies m1

--- Subquery with FROM
SELECT r_name, avg_rating
FROM (
    SELECT r_id, AVG(restaurant_rating) AS 'avg_rating'
    FROM orders
    GROUP BY r_id 
) t1
JOIN restaurant t2
ON t1.r_id = t2.r_id

--- Subquery with HAVING
SELECT genre, AVG(score)
FROM movies
GROUP BY genre
HAVING AVG(score) > (
    SELECT AVG(score) FROM movies
)

--- Subquery with INSERT
Insert INTO loyal_users(user_id, name)
SELECT t1.user_id, name
FROM orders t1
JOIN users t2 ON t1.user_id = t2.user_id
GROUP BY user_id
HAVING COUNT(*) > 3

--- Subquery with UPDATE
UPDATE loyal_users
SET money = (
    SELECT SUM(amount)*0.1
    FROM orders
    WHERE orders.user_id = loyal_users.user_id
)

--- Subquery with DELETE
DELETE FROM users
WHERE user_id IN (
    SELECT user_id FROM users
    WHERE user_id NOT IN (
        SELECT DISTINCT user_id FROM orders
    )
)